{% if page.path contains 'DataScience/RidgeRegressionNBA' %}
  {% assign site_settings = site.data.RidgeRegressionNBA %}
{% elsif page.path contains 'AdvancedDataScience/PivotTables' %}
  {% assign site_settings = site.data.PivotTables %}
{% else %}
  {% assign site_settings = site %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <title>
      {% if page.url == '/' %}
        My Software Projects
      {% else %}
        {{ site_settings.title | default: site.title | default: site.github.repository_name }}
      {% endif %}
    </title>
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>
            {% if page.url == '/' %}
              My Software Projects
            {% else %}
              {{ site_settings.title | default: site.title | default: site.github.repository_name }}
            {% endif %}
          </h1>
        </a>
        <h2>{{ site_settings.description | default: site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
